@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <h1>Get the cheapest flights in the world</h1>
            <p class="lead"></p>
            @Html.ActionLink("search flights >>", "GetFlights","Home", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("GetFlights")
    </div>
</div>